@media (min-width: 48em) {
  nav.navbar {
    --nav-button-display: none;
    --nav-position: static;
  }

  nav.navbar ul {
    --nav-list-background: transparent;
    --nav-list-layout: row;
    --nav-list-position: static;
    --nav-list-padding: 0;
    --nav-list-height: auto;
    --nav-list-width: 100%;
    --nav-list-shadow: none;
    --nav-list-transform: none;
    --nav-list-visibility: visible;
  }
}


nav.navbar {
  display : block  
}
nav.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.navbar ul li {
  margin: 0 10px;
}