{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MK8MX85');</script>
<!-- End Google Tag Manager -->
    <!-- charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b140c813854f75d0146f0da88/69abe104fda058f751534ef95.js");</script>
    
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4548604400396789"
     crossorigin="anonymous"></script>    
    <!-- title -->
    <title>
      {% if seo.title %} {{ seo.title }}
      {% elif title %}
      {{ title }}
      {% else %}
      {{ meta.siteName }}
      {% endif %}
    </title>

    <!-- synchronous js / schema  -->
    {% include "schemas/base-schema.njk" %}

    <!-- synchronous css / inline css  -->
    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads -->
    <link
      rel="preload"
      href="/assets/fonts/inter/inter-v7-latin-500.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/inter/inter-v7-latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {% if preloads -%}
    <!-- prettier-ignore -->
    <link rel="preload"
            href="{{ preloads.href }}"
            as="{{ preloads.as }}"
            {% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}" {% endif %}
            {% if preloads.crossorigin %}crossorigin{% endif %} />
    {% endif %}

    <!-- defered js  -->
    <script type="module" src="/assets/scripts/app.js?{{ assetHash }}" defer></script>

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK8MX85"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- header -->
    {% include "partials/header.njk" %}

    <!-- content slot -->
    <main id="main" class="flow">{{ content | safe }}</main>

    <!-- footer -->
    {% include "partials/footer.njk" %}

    <!-- youtube if actvated in yaml -->
    {% if youtube %}
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
    ></script>
    {% endif %}
  </body>
</html>
