---
layout : base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }} da colorare</h1>
    <img src="{{image}}" alt="{{title}} da colorare" />
 </div>
</article>
