---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    <div class="review-image">

      <img src="{{coverImage}}" alt="title" />
    </div>

    <div class="affiliate-button-top">
      <a href="{{ affiliateLink }}" target="_blank" rel="noopener">
        <button>Acquista su {{affiliateName }}</button>
      </a>
    </div>

    {{ content | safe }}

    <div class="affiliate-button-bottom">
      <a href="{{ affiliateLink }}" target="_blank" rel="noopener">
        <button>Acquista su {{ affiliateName }}</button>  
      </a>
    </div>

  </div>
</article>