---
layout: base
---

<header class="section spot-color-secondary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1> 
      </section>
    </div>
  </div>

  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="wrapper region">
  {% set postslist = collections.unicornidacolorare %}
  {% for post in postslist %}
    <li class="card flow clickable-card overflow-hidden">
      <img src="{{ post.data.image }}" alt="Anteprima di {{ post.data.title }}" class="responsive-image-preview" loading="lazy">
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      {% set definedDate = post.date %}
      {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>
  {% endfor %}

  </ul>
<button id="load-more" data-offset="8">Carica altri disegni</button>
</article>

