<!-- Pulsante hamburger per mobile -->
<button class="burger-menu" type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
  <span>Menu</span>
  <div class="hamburger-icon">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
  </div>
</button>

<!-- Overlay per chiudere il menu -->
<div class="menu-overlay"></div>

<!-- Menu di navigazione -->
<nav id="mainnav" class="navbar" aria-label="Main">
  <ul>
    {% for item in navigation.top %}
    <li>
      <a
        class="nav{% if item.highlight %} nav-highlight{% endif %}"
        href="{{ item.url }}"
        {{
        helpers.getLinkActiveState(item.url,
        page.url)
        |
        safe
        }}
        >{{ item.text }}{% if item.highlight %}<span class="nav-badge">NUOVO</span>{% endif %}</a
      >
    </li>
    {% endfor %}
  </ul>
</nav>
