<button id="openPopup">Immagine da colorare</button>

<div id="popup" class="popup">
  <div class="popup-content">
    <span id="closePopup">&times;</span>
    <img id="coloringImage" src="path/your-image.jpg" alt="Image to color">
    <button onclick="window.print();">Stampa</button>
  </div>
</div>

<script>
  var popup = document.getElementById("popup");
  var btn = document.getElementById("openPopup");
  var span = document.getElementById("closePopup");

  btn.onclick = function() {
    console.log("Click on button");
    popup.style.display = "block";
  };

  span.onclick = function() {
    popup.style.display = "none";
  };

  window.onclick = function(event) {
    if (event.target == popup) {
      popup.style.display = "none";
    }
  };
</script>
